name: Upstream Sync

on:
  schedule:
  - cron: "45 20 * * *"
  workflow_dispatch: {}

permissions:
  contents: write

jobs:
  sync_latest_from_upstream:
    name: Sync latest commits from upstream repo
    runs-on: ubuntu-latest

    steps:
    - name: Checkout target branch
      uses: actions/checkout@v4
      with:
        ref: upstream-original
        fetch-depth: 0

    - name: Sync upstream changes
      run: |
        git remote add upstream https://github.com/posquit0/Awesome-CV.git
        git fetch upstream master

        LOCAL=$(git rev-parse HEAD)
        UPSTREAM=$(git rev-parse upstream/master)

        if [ "$LOCAL" = "$UPSTREAM" ]; then
          echo "Already up to date."
        else
          git merge upstream/master --no-edit
          git push
          echo "Synced new commits from upstream."
        fi
